[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "difconet"]
	path = difconet
	url = https://github.com/cran/difconet
[submodule "valorate"]
	path = valorate
	url = https://github.com/cran/valorate
